services:
  user_service:
    build:
      context: .
      dockerfile: cmd/user_service/Dockerfile
    ports:
      - "8081:8080"
    depends_on:
      - mongodb
      - redis
      - rabbitmq

  post_service:
    build:
      context: .
      dockerfile: cmd/post_service/Dockerfile
    ports:
      - "8082:8080"
    depends_on:
      - mongodb
      - redis
      - rabbitmq

  comment_service:
    build:
      context: .
      dockerfile: cmd/comment_service/Dockerfile
    ports:
      - "8083:8080"
    depends_on:
      - mongodb
      - redis
      - rabbitmq

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:latest
    ports:
      - "6379:6379"


  rabbitmq:
    image: rabbitmq:management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  mongodb_data: